{% extends 'images/base.html' %}

{% block title %}{{image.title}}{% endblock %}

{% block content %}
	<img src="{{image.image.url}}">
	{% with	total_liked=image.users_liked.count	users_liked=image.users_liked.all%}
		<div>
			<a href="#" data-id={{image.id}} data-action="{% if request.user in users_liked %}dis{% endif %}like" class="like">
				{% if request.user in users_liked %}
					Dislike
				{% else %}
					Like
				{% endif %}
			</a>
			<span class="total_liked">{{total_liked}}</span> like{{total_liked|pluralize}}
		</div>
		<div>
			User name 
			{% if image.user.first_name %}
				{{image.user.first_name}}
			{% else %}
				{{image.user.username}}
			{% endif %}
			
			User photo <img src="{{image.user.profile.photo.url}}">
		</div>
	{% endwith %}
	

{% endblock %}
{% block domready %}
	$('a.like').click(function(e){
		e.preventDefault();
		$.post(
			'{% url "images:like_image" %}',
			{id: $(this).data('id'),action: $(this).data('action')},
			function(data){
				if (data['status'] == 200){
					var previous_action = $('a.like').data('action');
					// Изменяем переменную действия.
					$('a.like').data('action', previous_action == 'like' ?'dislike' : 'like');
					// Изменяем текст ссылки.
					$('a.like').text(previous_action == 'like' ? 'Dislike' : 'Like');
					// Обновляем общее количество лайков.
					var previous_likes = parseInt($('span.total_liked').text());
					$('span.total_liked').text(
						previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
				}
			}
		);
	});
{% endblock %}