{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="static/css/base.css">
</head>
<body>
	{% if request.user.is_authenticated %}
		<header id="header">
			<div id="thumbnail_mypage">
				<a class="kek" href="#"><img src="{{request.user.profile.image}}" width=30px height=30px>{{request.user.username}}</a>
				<ul id="thumbnail_mypage_ul">
					<li id="thumbnail_mypage_li_2"><a href="{% url 'account:user' request.user.username %}">My page</a> </li>
					<div id="mypage_sep"></div>
					<li id="thumbnail_mypage_li_3"><a href="{% url 'account:user_edit' %}">Edit profile</a></li>
					<li id="thumbnail_mypage_li_4"><a href="{% url 'account:logout' %}">Logout</a></li>
				</ul>
			</div>

		</header>
		<ul id="sidebar">
			<li {% if section == 'my_page' %} id="sidebar_mypage" class='selected'{% endif %}>
				<p><a href="{% url 'account:user' request.user.username %}">My page</a></p>
			</li>
			<li {% if section == 'feed' %} id="sidebar_feed" class='selected'{% endif %}>
				<p><a href="{% url 'account:feed' %}">Feed</a></p>
			</li>
			<li {% if section == 'friends' %} id="sidebar_friends" class='selected'{% endif %}>
				<p><a href="#">Friends</a></p>
			</li>
			<li {% if section == 'images' %} id="sidebar_images" class='selected'{% endif %}>
				<p><a href="#">Images</a></p>
			</li> 
		</ul>
	{% else %}
		<header id="header">
			<div id="thumbnail_mypage">
				<a href="{% url 'account:login' %}">Log in</a>
			</div>
		</header>
	{% endif %}

	<div id="content">
		{% block content %}{% endblock %}
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
	
	<script>
		var csrftoken = Cookies.get('csrftoken');
		function csrfSafeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
		$(document).ready(function(){
			{% block domready %}{% endblock %}
		});
	</script>
</body>
</html>